<html>

<head>
  <title>INPRES Sismos</title>
  <meta name="description" content="Información sobre los últimos sismos ocurridos detectados por el INPRES">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <!-- Tags para compatibilidad y responsividad -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Hojas de estilo -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <!-- Modal -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Acerca de <strong>INPRES Sismos</strong></h4>
        <p>
          Desarrollador por:
          <ul>
            <li>Francisco E. Hanna - <a href="mailto:franciscohanna92@gmail.com" target="_top">franciscohanna92@gmail.com</a></li>
            <li>Facundo Villard - <a href="mailto:facuvillard@gmail.com" target="_top">facuvillard@gmail.com</a></li>
          </ul>
        </p>
        <small>Nota: Los desarrolladores no poseen ninguna relación con el Instituto Nacional de Prevencion Sísmica. Los datos mostrados
          en la aplicación son extraídos de información disponible de manera pública en
          <a href="www.inpres.gov.ar">www.inpres.gov.ar</a>
        </small>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
      </div>
    </div>
  
    <div>
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a v-cloak data-activates="slide-out" class="button-collapse" v-on:click="goBack()" v-if="showGoBackButton">
              <i class="fa fa-arrow-left fa-2x"></i>
            </a>
            <a href="#" class="brand-logo left">INPRES Sismos</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a target="_blank" href='https://play.google.com/store/apps/details?id=me.franciscohanna.inpres_app&hl=es_419&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img id="playstore" alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es_badge_web_generic.png'/></a>
              </li>
              <li>
                <a class="modal-trigger" href="#modal1"><i class="fa fa-question-circle fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    
      <!-- Sidenav -->
      <ul class="side-nav fixed collection">
        <li v-if="listaSismos.length == 0" class="loading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw spinner"></i>
        </li>
        <li v-cloak v-for="sismo in listaSismos" v-on:click="marcarEnMapa(sismo.latitud, sismo.longitud, sismo.lugar, sismo.fecha, sismo.hora, sismo.profundidad, sismo.magnitud)"
          class="collection-item avatar sismos-list-item">
          <a v-bind:href="'#/'+ sismo.timestamp">
            <p class="circle">
              <strong class="magnitud">{{ sismo.magnitud.toFixed(1) }}</strong>
            </p>
            <span class="title"> {{ sismo.fecha }} - {{ sismo.hora }} hs</span>
            <p>{{ sismo.lugar }}</p>
          </a>
        </li>
      </ul>
    </div>
  
  </div>
  
  <!-- Mapa -->
  <main>
    <div id="map"></div>
  </main>
  
  <!-- Scripts -->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl0n5yub3QoqCqMYn5TFbthwf9Gu4YjUU"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>