html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-nav li>a {
  font-weight: unset;
  height: unset;
  line-height: unset;
  padding: unset;
}

.side-nav li>a:hover{
  background-color: gainsboro
}

#map {
  height: 100%;
  margin-top: -64px
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .side-nav.fixed {
    top: 0px
  }
}


.side-nav {
  position: absolute;
  top: 64px;
  bottom: 0px;
  width: auto;
  padding: 0px;
  min-width: 400px;
  height: auto;
}

.collection-item.avatar:hover { background-color : gainsboro }

.circle{
  background-color:darkblue;
  color: white;
}

.circle .magnitud {
  position: absolute;
  top: 10px;
  left: 10px;  
}

nav .brand-logo{
  font-size: 2rem; 
  margin-left: 10px;
}

.right.hide-on-med-and-down{
  margin-right: 15px;
}

.input-field{
    margin-left: 30px;
    width: 80%;
} 

.sismos-list-item {
  cursor: pointer
}

#sidenav-overlay {
  z-index: 2;
}

li.loading {
  height: 100%;
}

li.loading > .spinner {
  position: relative;
  top: 45%;
  left: 45%;
}

[v-cloak] {
  display: none
}

img#playstore {
  height: 100%;
}